body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:573px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u114 {
  position:absolute;
  left:334px;
  top:43px;
  width:175px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:301px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u116 {
  position:absolute;
  left:304px;
  top:131px;
  width:269px;
  height:301px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
